{{outlet}}
<hr />
<ul>
  {{#each model as |buildable|}}
    <li>
      {{#link-to 'buildables.buildable' buildable}}{{buildable.name}}{{/link-to}}
      <ul>
        {{#each buildable.components as |component|}}
          <li>{{component.item}} x {{component.quantity}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
